@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #2d3036;
    cursor: pointer;
  }

  ::-webkit-scrollbar-thumb {
    background: #3a6fe066;
  }

  ::-webkit-scrollbar-thumb:hover {
    cursor: grabbing;
  }
}